<%#
# Variables
- firstVideo
- ?bookmark
- ?isProgress
- ?lastWatchedVideo
- ?currentTime
#%>
<%- include('../includes/top.ejs') %>

<main class="banners">

  <section class="banner-separator">
    <h1>Offline Video Player</h1>
  </section>

  <!-- Start -->
  <a href="/video/<%= firstVideo %>" class="banner-action">
    Start with the first video
  </a>

  <!-- Last watched video -->
  <% if (locals.lastWatchedVideo) { %>
    <a href="/video/<%= lastWatchedVideo %>" class="banner-action">
      Continue from last watched
    </a>
  <% } %>

  <!-- Bookmark -->
  <% if (locals.bookmark) { %>
    <a
      href="/video/<%= bookmark.urlPath %>?t=<%= bookmark.currentTime %>" 
      class="banner-action"
    >
      Continue from the bookmark
    </a>
  <% } %>

  <!-- Import -->
  <section class="banner-action" id="progress-input-banner">
    Import progress
    <form
      class="invisible"
      method="post"
      action="/progress"
      enctype="multipart/form-data"
    >
      <input type="file" name="progress-file" id="progress-input">
    </form>
  </section>

  <!-- Export -->
  <% if (isProgress) { %>
    <a href="/progress" class="banner-action">
      Export progress
    </a>
  <% } %>

</main>

<%- include('../includes/bottom.ejs') %>
