<%#
# Variables
- firstVideo
- ?bookmark
- ?isProgress
#%>
<%- include('../includes/top.ejs') %>

<main class="banners">

  <section class="banner-separator">
    <h1>Offline Video Player</h1>
  </section>

  <!-- Start -->
  <a href="/video/<%= firstVideo %>" class="banner-action">
    Start with the first video
  </a>

  <!-- Last seen video -->
  <% if (lastSeenVideo) { %>
    <a href="/video/<%= lastSeenVideo %>" class="banner-action">
      Continue from last seen
    </a>
  <% } %>

  <!-- Bookmark -->
  <% if (bookmark) { %>
    <a href="/video/<%= bookmark %>" class="banner-action">
      Continue from the bookmark
    </a>
  <% } %>

  <!-- Import -->
  <section class="banner-action" id="progress-input-banner">
    Import progress
    <form
      class="invisible"
      method="post"
      action="/progress"
      enctype="multipart/form-data"
    >
      <input type="file" name="progress-file" id="progress-input">
    </form>
  </section>

  <!-- Export -->
  <% if (isProgress) { %>
    <a href="/progress" class="banner-action">
      Export progress
    </a>
  <% } %>

</main>

<%- include('../includes/bottom.ejs') %>
