<%#
# Variables
- video
- ?nextVideo
- ?currentTime
#%>
<%- include('../includes/top.ejs') %>

<main class="cinema">

  <main class="video-container">
    <video
      controls
      class="video-player"
      data-next-video="<%= nextVideo ? '/videos/' + nextVideo : 'no' %>"
      data-current-video="<%= video.urlPath %>"
      <% if (locals.currentTime && locals.currentTime !== null) { %>
        data-current-time="<%= currentTime %>"
      <% } %>
    >
      <source
        src="/videos/<%= video.urlPath %>/source"
        type="video/mp4"
      >
      <!-- TODO -->
      <!-- <track
        label="The subtitle label"
        kind="subtitles"
        srclang="en"
        src="/videos/<%= video.urlPath %>/subtitles"
        default
      > -->
    </video>
  </main>

  <%- include('../includes/video-controls.ejs') %>
</main>

<aside class="menu">
  <div class="menu-close-container">
    <button class="btn btn-default" id="menu-close">Close menu</button>
  </div>
  <%- include('../includes/videos-list.ejs') %>
</aside>

<%- include('../includes/bottom.ejs') %>
