<%#
# Variables
- video
- ?nextVideoPath
#%>
<%- include('../includes/top.ejs') %>

<main class="cinema">

  <main class="video-container">
    <video
      controls
      autoplay
      class="video-player"
      data-next-video="<%= nextVideoPath ? '/video/' + nextVideoPath : 'no' %>"
    >
      <source src="/source/<%= video.urlPath %>" type="video/mp4">
    </video>
  </main>

  <%- include('../includes/video-controls.ejs') %>
</main>

<aside class="menu">
  <div class="menu-close-container">
    <button class="menu-close btn btn-default">Close menu</button>
  </div>
  <%- include('../includes/videos-list.ejs') %>
</aside>

<%- include('../includes/bottom.ejs') %>
