<%#
# Variables
- pageTitle
- videos
- video
- prevVideoPath
- nextVideoPath
#%>

<%- include('../includes/top.ejs') %>

<main class="video-container">

  <video class="video-player" width="90%" controls autoplay>
    <source src="/video-source/<%= video.urlPath %>" type="video/mp4">
  </video>

  <div class="video-controls">

    <button class="full-width" id="menu-open">Open menu</button>

    <!-- Prev -->
    <% if (prevVideoPath) { %>
      <button class="full-width">
        <a href="/video/<%= prevVideoPath %>">Prev</a>
      </button>
    <% } %>

    <!-- Playback -->
    <strong class="full-width" id="playback-rate">1.0x</strong>
    <button class="full-width" id="playback-slower">- 0.25x</button>
    <button class="full-width" id="playback-reset">1.0x</button>
    <button class="full-width" id="playback-faster">+ 0.25x</button>

    <!-- Bookmark -->
    <button class="full-width">
      <a href="/video/<%= nextVideoPath %>/bookmark">Bookmark</a>
    </button>

    <!-- Next -->
    <% if (nextVideoPath) { %>
      <button class="full-width">
        <a href="/video/<%= nextVideoPath %>">Next</a>
      </button>
    <% } %>

  </div>
</main>

<aside class="menu">
  <div class="menu-close-container">
    <button class="menu-close">Close menu</button>
  </div>
  <%- include('../includes/videos-list.ejs') %>
</aside>

<%- include('../includes/bottom.ejs') %>
