<%#
# Variables
- videos
- videosTracking
- currentVideo
- videosWatched
#%>
<ul class="video-list">
  <li class="progress-item">
    <progress max="<%= videos.length %>" value="<%= videosWatched %>"></progress>
    <span class="progress-counter"><%= videosWatched %>&nbsp;/&nbsp;<%= videos.length %></span>
  </li>
  <% for (const video of videos) { %>
    <li>
      <a
        href="/video/<%= video.urlPath %>"
        class="video-item<%= (currentVideo === video.urlPath) ? ' active' : '' %><%= (videosTracking[video.urlPath] ? ' watched' : '') %>"
      >
        <h3 class="item-title"><%= video.name %></h3>
        <em class="item-duration"><%= video.duration %></em>
      </a>
    </li>
  <% } %>
</ul>
